[submodule "42/scop/42/scop/imgui"]
	path = 42/scop/42/scop/imgui
	url = https://github.com/ocornut/imgui
[submodule "42/scop/imgui"]
	path = 42/scop/imgui
	url = https://github.com/ocornut/imgui
[submodule "42/scop/glfw"]
	path = 42/scop/glfw
	url = https://github.com/glfw/glfw
[submodule "42Documentation/mlx42_menu_tutorial/mlx"]
	path = 42Documentation/mlx42_menu_tutorial/mlx
	url = https://github.com/codam-coding-college/MLX42
[submodule "42Documentation/mlx42_intro/42Course/42Documentation/mlx42_intro"]
	path = 42Documentation/mlx42_intro/42Course/42Documentation/mlx42_intro
	url = https://github.com/codam-coding-college/MLX42
[submodule "42Documentation/mlx42_intro/MLX42"]
	path = 42Documentation/mlx42_intro/MLX42
	url = https://github.com/codam-coding-college/MLX42
[submodule "42/Piscine Object/Module 05 - Pratical work/Dijkstra/MLX42"]
	path = 42/Piscine Object/Module 05 - Pratical work/Dijkstra/MLX42
	url = https://github.com/codam-coding-college/MLX42
