# This is the configuration file for the MySQL server and sets options such as
# the user running the server, port to use, data directory, bind address, whether
# to enable networking, and the file path and size of the InnoDB data file.

[mysqld]
user=root
port=3306
datadir=/var/lib/mysql/
bind-address=0.0.0.0
skip-networking=false
innodb_data_file_path=./ibdata1:10M:autoextend

# The InnoDB data file is a file used by the InnoDB storage engine in MySQL to
# store data and metadata for the database tables. The InnoDB data file is
# specified in the my.cnf file with the "innodb_data_file_path" option, and is
# usually named ibdata1 by default. It contains information about the database
# tables, indexes, and other data stored in InnoDB tablespaces.
